@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 20rem;
}

:root {
  --secondary-color: #F0F4F4;
  --primary-color-4: #04080F;
  --primary-color-53: #507DBC;
  --primary-color-77: #A1C6EA;
  --primary-color-83: #BBD1EA;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.viewHeight {
  min-height: 100vh;  
  max-height: -webkit-fill-available;
  overflow-x: hidden;
}

.b_and_w {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/*.skills_btn p {
  text-shadow: -1px -1px 0 var(--secondary-color), 
  1px -1px 0 var(--secondary-color), 
  -1px 1px 0 var(--secondary-color), 
  1px 1px 0 var(--secondary-color);
}*/

.SVGB2W {
  @apply dark:bg-secondary-color;
}

.SVGW2B {
  @apply dark:bg-primary-color-4;
}

.SVGBlue2W {
  @apply dark:bg-primary-color-77;
}

.SVGBlue2DarkBlue {
  @apply dark:bg-primary-color-53;
}

.activeLink {
  position: relative;
  font-weight: 600;
}

.activeLink::before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  height: 1px;
  margin-top: 3px;
  background-color: var(--secondary-color);

  @apply dark:bg-primary-color-4
}

.linksm {
  position: relative;
  left: 2rem;
}

.linksm::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: -3rem;
  width: 3rem;
  transform: translateY(-50%);
  height: 1px;
  margin-top: 3px;
  background-color: var(--primary-color-83);

  @apply dark:bg-primary-color-4
}

.activeLinksm {
  @apply font-semibold bg-primary-color-53 
}

/* sectiosn */


.cta-primary, .cta-secondary, .cta-secondary-dark {
  transition: all ease-in-out .3s;
  @apply grid content-center p-4 min-w-[230px] text-center;
}

.cta-primary {
  @apply text-secondary-color bg-primary-color-53 hover:bg-primary-color-77 hover:text-primary-color-4 hover:font-bold ;
}

.cta-secondary {
  @apply text-primary-color-4 bg-secondary-color border-secondary-color hover:bg-transparent hover:border hover:text-secondary-color ;
}

.cta-secondary-dark {
  @apply text-secondary-color bg-primary-color-4 border-primary-color-4 hover:bg-transparent hover:border hover:text-primary-color-4 ;
}

.btn-rounded-primary {
  @apply rounded-full bg-primary-color-77 dark:bg-primary-color-53 hover:bg-primary-color-53 dark:hover:bg-primary-color-77 transition-all flex justify-center items-center overflow-hidden w-10 h-10;
}

.link_footer {
  @apply underline text-primary-color-77 dark:text-primary-color-53 hover:text-primary-color-53 dark:hover:text-primary-color-77  transition-all duration-300;
}

.gradient1 {
  background: linear-gradient(107.05deg, #9747FF 5.04%, #507DBC 68.89%) 150% 50%;
  background-size: 400% 400%;
  animation: radiant-animation 5s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg_gradient1 {
  background: linear-gradient(107.05deg, hsla(266, 100%, 64%, 0.103) 5.04%, hsla(215, 45%, 53%, 0.11) 68.89%) 150% 50%;
  background-size: 400% 400%;
  animation: radiant-animation 5s ease-in-out infinite;
}

.bg_gradient2 {
  background: linear-gradient(107.05deg, hsla(266, 100%, 64%) 5.04%, hsla(215, 45%, 53%) 68.89%) 150% 50%;
  background-size: 400% 400%;
  animation: radiant-animation 5s ease-in-out infinite;
}

.list-opener:focus ul {
  display: block;
}

.rotateInfinite {
  animation: rotateInfinite-animation 10s linear infinite;
  transform-origin: center center;
}

.rotateInfinite1 {
  animation: rotateInfinite-animation-minus 50s linear infinite;
  transform-origin: center center;
}

.rotateInfinite2 {
  animation: rotateInfinite-animation-minus 25s linear infinite;
  transform-origin: center center;
}

.rotateInfinite3 {
  animation: rotateInfinite-animation 30s linear infinite;
  transform-origin: center center;
}

.oscillating-div {
  animation: oscillate 6s ease-in-out infinite;
}

@keyframes oscillate {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(10px) rotate(3deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}


@keyframes rotateInfinite-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes rotateInfinite-animation-minus {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

@keyframes radiant-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/*styling the seek bar of the music in the player*/

.player_input {
  @apply transition-all rounded-md overflow-hidden w-full p-3 border-primary-color-77 border-2 focus:outline-primary-color-53 focus:outline-2 dark:bg-primary-color-4;
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: var(--primary-color-83);
  border-radius: 1px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px var(--primary-color-4);
  border: 1px solid var(--primary-color-4);
  height: 25px;
  width: 15px;
  border-radius: 1px;
  background: var(--secondary-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
  @apply dark:border-secondary-color
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: var(--primary-color-83);
  border-radius: 1px;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid var(--primary-color-4);
  height: 25px;
  width: 13px;
  border-radius: 1px;
  background: var(--secondary-color);
  cursor: pointer;
  @apply dark:border-secondary-color
}
input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  height: 25px;
  width: 15px;
  border-radius: 1px;
  background: var(--secondary-color);
  cursor: pointer;
  @apply dark:border-secondary-color
}
input[type='range']::-webkit-progress-value {
  background-color: var(--primary-color-53);
}
iinput[type="range"]::-moz-range-progress {
  background-color: var(--primary-color-53);
}
input[type="range"]::-ms-range-progress {
  background-color: var(--primary-color-53);
}