@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color-4: #04080F;
  --secondary-color: #F0F4F4;
  --primary-color-53: #507DBC;
  --primary-color-83: #BBD1EA;
  --primary-color-77: #A1C6EA;
}